header#profileHeader {
  background-color: #4e4e50;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

div#imgHeader {
  padding-top: 50px;
}
div.profile {
  display: flex;
  justify-content: center;
}