nav {
  position: fixed;
  top: 0;
  height: 120px;
  color: #ffffff;
  width: 100%;
  z-index: 1;
}

span.navT, #navR {
  color: #c3073f;
}

span#navW {
  color: #950740;
}

span.navE {
  color: #6f2232;
}

div#navContent {
  position: fixed;
  top: 1.5em;
  left: 1.5em;
  right: 1.5em;
}

span.navTitle {
  font-size: 150%;
}
div#writeTweet {
  font-family: 'Source Sans Pro', sans-serif;
  float: right;
  font-size: 70%;
}
i {
  position: relative;
  color: #c3073f;
  left: 50%;
}

/* sets a new color to arrow on <div> hover */
div#writeTweet:hover i {
  color: #ffffff;
}

div#navWriteTweet{
  right: -40px;
}