section.new-tweet {
  width: 100%;
  display: none;
}
textarea {
  border: none;
  outline: none;
  background-color: #1a1a1d;
  color: #ffffff;
  width: 100%;
}
div#textAreaBorder {
  border-bottom: 5px solid;
}
div#btnAndSpan {
  font-family: 'Bungee', cursive;
  margin-top: 50px;
}
#submitBtn {
  background-color: #c3073f;
  color: #ffffff
}
span.counter {
  float: right;
}

/* Error styling */
div#errorContainer {
  border: 5px solid #c3073f;
  display: none;
}
i.fa-exclamation-triangle {
  left: 0px;
  margin-left: 1em;
}
div.inlineContainer h4, i.fa-exclamation-triangle {
  display: inline;
}
h4#errorMessage {
  color: #c3073f;
  margin-left: 1em;
}