article {
  border: 5px solid;
  margin-top: 50px;
  opacity: 0.8;
  word-wrap: break-word;
}

article.tweet span {
  margin-top: 1em;
}

article.tweet span#userName {
  float: left;
  margin-left: 1em;
}

article.tweet span#tweeterName {
  /* opacity: 0.3; */
  float: right;
  margin-right: 1em;
  color: #c3073f;
  display: none;
}

/***** Hover effects ********/
article:hover {
  opacity: 1;
  box-shadow: 10px 10px 5px #c3073f;
}

article:hover span#tweeterName {
  display: block;
}
/****************************/

article.tweet p {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

article.tweet p span{
  display: block;
}

article.tweet header {
  height: 100px;
  margin-top: 0px;
  padding: 10px;
}


article.tweet footer {
  font-size: 0.7em;
  padding: 10px;
}

article.tweet img {
  float: left;
}

article.tweet div {
  border-top: 5px solid;
  margin-left: 10px;
  margin-right: 10px;
}

/* re-position my icon (was set as left: 50% from nav.css) */
article.tweet i {
  left: 0px;
  color: #c3073f;
}

article.tweet div#tweetIcons {
  border-top: 0px;
  float: right;
}